.grid-cards {
  display: flex;
  flex-direction: column;
  gap: var(--spectrum-spacing-600);
  justify-content: center;
  align-items: center;
}

.grid-cards .grid-cards-header {
  display: flex;
  flex-direction: column;
  gap: var(--spectrum-spacing-100);
  text-align: center;
  max-width: 792px;

  .grid-cards-eyebrow {
    text-transform: uppercase;
    font-size: var(--spectrum-font-size-200);
    font-weight: var(--font-weight-bold);
    line-height: 125%;
    letter-spacing: 0.8px;
    margin: 0;
    color: var(--non-spectrum-dark-gray);
  }

  .grid-cards-title {
    font-size: var(--spectrum-font-size-1100);
    line-height: 125%;
    font-weight: var(--font-weight-heavy);
    margin: 0;
    color: var(--non-spectrum-dark-gray);
  }

  .grid-cards-description {
    font-size: var(--spectrum-body-size-xl);
    line-height: 150%;
    font-weight: 400;
    color: var(--non-spectrum-dark-gray);
  }
}

.grid-card-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.grid-card-title {
  margin: 0;
  margin-bottom: var(--spectrum-spacing-100);
  align-self: stretch;
  font-weight: var(--font-weight-heavy);
  line-height: 125%;
  color: var(--text-color);
  font-size: var(--spectrum-body-size-xl);
}

.grid-card-description,
.grid-card-description > * {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
  font-size: var(--spectrum-body-size-s);
  line-height: 150%;
  font-weight: var(--font-weight-normal);
  margin: 0;
}

.grid-cards .grid-card .grid-card-content .grid-card-cta {
  margin-top: auto;
}

.grid-cards .grid-card .grid-card-content .grid-card-cta a.button {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px 18px 6px;
  font-size: 15px;
  text-align: center;
  font-weight: var(--font-weight-bold);
  line-height: 19px;
  height: 30px;
}

.grid-cards .grid-card .grid-card-content .grid-card-cta a.secondary {
  color: var(--non-spectrum-dark-gray);
  background-color: unset;
  border: 2px solid var(--non-spectrum-dark-gray);
}

.grid-cards .grid-card-container .grid-card .grid-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
}

/* Minimal card styling */
.grid-cards.minimal .grid-cards-header {
  display: none;
}

.grid-cards.minimal .grid-card-container {
  gap: 25px;
  justify-items: center;
  width: 100%;
  max-width: 1202px;
}

.grid-cards.minimal .grid-card-container .grid-card {
  padding: var(--spectrum-spacing-400);
  height: 240px;
  min-height: 240px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border-radius: 16px;
  border: 2px solid rgb(255 255 255 / 60%);
  background-color: rgb(255 255 255 / 50%);
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 25%);
  backdrop-filter: blur(12px);
  max-width: 384px;
}

/* Standard card styling */
.grid-cards.standard .grid-card-container {
  gap: var(--spectrum-spacing-400);
  justify-items: center;
  max-width: 1200px;
}

.grid-cards.standard .grid-card-container .grid-card {
  padding: var(--spectrum-spacing-400);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--spectrum-spacing-400);
  height: 436px;
  min-height: 430px;
  border: 2px solid rgb(255 255 255 / 60%);
  background-color: rgb(255 255 255 / 50%);
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 25%);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  max-width: 384px;
}

.grid-cards.standard .grid-card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  max-width: 336px;
  overflow: hidden;
  border-radius: 8px;
}

.grid-cards.standard .grid-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Wide card styling */
.grid-cards.wide .grid-card-container {
  grid-template-columns: 1fr;
  gap: var(--spectrum-spacing-400);
  width: 100%;
  max-width: 1200px;
}

.grid-cards.wide .grid-card-container .grid-card {
  padding: var(--spectrum-spacing-400);
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(255 255 255 / 60%);
  background-color: rgb(255 255 255 / 50%);
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 25%);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  max-width: 588px;
}

.grid-cards.wide .grid-card-container .grid-card > a {
  display: flex;
  margin: 0;
  gap: var(--spectrum-spacing-400);
  align-items: stretch;
}

.grid-cards.wide .grid-card-image {
  flex: 0 0 40%;
  max-width: 226px;
  overflow: hidden;
  border-radius: 8px;
}

.grid-cards.wide .grid-card-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

.grid-cards.wide .grid-card-container .grid-card .grid-card-content {
  justify-content: center;
  flex: 1;
}

.grid-cards.wide .grid-card-container .grid-card .grid-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 600px) {
  .grid-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grid-card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-cards.minimal .grid-card-container .grid-card,
  .grid-cards.standard .grid-card-container .grid-card {
    max-width: none;
  }

  .grid-cards.wide .grid-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-cards.wide .grid-card-container .grid-card {
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .grid-cards.minimal .grid-card-container .grid-card,
  .grid-cards.standard .grid-card-container .grid-card {
    max-width: 384px;
  }

  .grid-cards.wide .grid-card-container .grid-card {
    max-width: 588px;
  }
}
