.media-panel.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
}

.media-panel.block > .podcast-container {
  flex: 1;
}

.media-panel.block > .content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.media-panel.block > .content-container > .eyebrow {
  color: var(--non-spectrum-dark-gray);
  font-size: var(--spectrum-font-size-200);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 125%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.media-panel.block > .content-container > .heading:where(h1, h2, h3, h4, h5) {
  font-weight: var(--font-weight-heavy);
  margin: var(--spectrum-spacing-100) 0;
  color: var(--non-spectrum-dark-gray);
}

.media-panel.block > .content-container > .description {
  color: var(--non-spectrum-dark-gray);
  font-size: var(--spectrum-font-size-400);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.media-panel.block > .content-container > .cta a.secondary {
  display: inline-block;
  border-radius: 100px;
  border: 2px solid var(--non-spectrum-dark-gray);
  margin: var(--spectrum-spacing-400) 0 0;
  padding: var(--spectrum-spacing-100) 18px;
  color: var(--non-spectrum-dark-gray);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 21px; /* 123.529% */
  transition: background-color 0.3s ease;
}

.media-panel.block > .content-container > .cta a.secondary:hover {
  background-color: var(--overlay-background-color);
}

.media-panel.block > .content-container > .cta a.button {
  margin: var(--spectrum-spacing-400) 0;
}

.media-panel.block > .podcast-container > .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 440px;
}

.media-panel.block.podcast-card > .podcast-container {
  border-radius: 16px;
  border: 2px solid rgb(255 255 255 / 60%);
  background: rgb(255 255 255 / 50%);
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 25%);
  backdrop-filter: blur(12px);
}

.media-panel.block.podcast-card > .podcast-container > .image {
  margin: 24px;
}

.media-panel.block.podcast-card > .podcast-container > .image img {
  display: block;
  max-height: 230px;
  border-radius: var(--spectrum-spacing-100);
  border: 2px solid rgb(255 255 255 / 50%);
}

.media-panel.block.podcast-card > .podcast-container > .podcast-heading:where(h1, h2, h3, h4, h5) {
  color: var(--non-spectrum-dark-gray);
  font-style: normal;
  font-weight: var(--font-weight-heavy);
  line-height: 125%; /* 35px */
  margin: 0 24px 8px;
}

.media-panel.block.podcast-card > .podcast-container > .podcast-description {
  margin: 0 24px 24px;
  overflow: hidden;
  color: var(--non-spectrum-dark-gray);
  font-size: var(--spectrum-font-size-200);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 150%;
  text-overflow: ellipsis;
  word-break: break-word;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

@media (min-width: 600px) {
  .media-panel.block {
    flex-direction: row;
  }

  .media-panel.block.right {
    flex-direction: row-reverse;
  }
}

@media (min-width: 900px) {
  .media-panel.block {
    gap: 126px;
  }
}
